@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900&subset=latin-ext');
@import "./styles/global-values";
@import "./styles/palette";
@import "./styles/theme";

$image_path: '/assets/images';

$font-family:  Roboto, Lato, Helvetica, Arial, sans-serif !default;

html, body {
  width: 100%;
  height: calc(100%);
  min-height: calc(100%);
  margin: 0;
  background-color: map_get($custom-grey, 50);
  font-family: $font-family;
}

.color-10 {
  background-color: map_get($event-colors, 10);
  &:hover {
    background-color: darken(map_get($event-colors, 10), 4%);
  }
}
.color-20 {
  background-color: map_get($event-colors, 20);
  &:hover {
    background-color: darken(map_get($event-colors, 20), 4%);
  }
}
.color-30 {
  background-color: map_get($event-colors, 30);
  &:hover {
    background-color: darken(map_get($event-colors, 30), 4%);
  }
}
.color-40 {
  background-color: map_get($event-colors, 40);
  &:hover {
    background-color: darken(map_get($event-colors, 40), 4%);
  }
}
.color-50 {
  background-color: map_get($event-colors, 50);
  &:hover {
    background-color: darken(map_get($event-colors, 50), 4%);
  }
}
.color-60 {
  background-color: map_get($event-colors, 60);
  &:hover {
    background-color: darken(map_get($event-colors, 60), 4%);
  }
}
.color-70 {
  background-color: map_get($event-colors, 70);
  &:hover {
    background-color: darken(map_get($event-colors, 70), 4%);
  }
}
.color-80 {
  background-color: map_get($event-colors, 80);
  &:hover {
    background-color: darken(map_get($event-colors, 80), 4%);
  }
}
.color-90 {
  background-color: map_get($event-colors, 90);
  &:hover {
    background-color: darken(map_get($event-colors, 90), 4%);
  }
}
.color-100 {
  background-color: map_get($event-colors, 100);
  &:hover {
    background-color: darken(map_get($event-colors, 100), 4%);
  }
}
.color-110 {
  background-color: map_get($event-colors, 110);
  &:hover {
    background-color: darken(map_get($event-colors, 110), 4%);
  }
}
.color-120 {
  background-color: map_get($event-colors, 120);
  &:hover {
    background-color: darken(map_get($event-colors, 120), 4%);
  }
}
