@import '../../../../styles/palette';

.calendar-header {
  border: 1px solid map_get($custom-grey, 350);
  user-select: none;
  mat-grid-tile {
    border-right: 1px solid map_get($custom-grey, 350);
  }
  mat-grid-tile:last-of-type {
    border-right: none;
  }
}

.calendar-body {
  border: 1px solid map_get($custom-grey, 350);
  border-top: none;
  user-select: none;
  mat-grid-tile {
    border-right: 1px solid map_get($custom-grey, 350);
    border-top: 1px solid map_get($custom-grey, 350);
    &.disabled-cell {
      background-color: map_get($custom-grey,150);
      color: map_get($custom-grey, 350);
    }
    &.today-cell {
      background-color: lighten($app-main-color, 5%);
      color: white;
    }

    &.has-event {
      cursor: pointer;
    }

    /deep/.mat-figure {
      flex-direction: column;
    }

    .caption-container {
      width: 80%;
      height: 50%;
      display: flex;
      justify-content: space-between;
      align-content: center;
      .day-caption {
        flex: 1 1 auto;
        height: auto;
        margin: auto;
      }
      mat-icon {
        margin: auto 0;
        cursor: pointer;
      }
    }

    .bottom-container {
      width: 80%;
      height: 50%;
      display: flex;
      .bullet-container {
        flex: 1 0 auto;
        display: flex;
        flex-direction: row;
        .bullet {
          width: 10px;
          height: 10px;
          margin: auto 3px;
          border-radius: 5px;
          &.red {
            background-color: red;
          }
          &.green {
            background-color: green;
          }
          &.yellow {
            background-color: yellow;
          }
        }
      }
      .events {
        color: white;
        text-align: center;
        width: 15px;
        padding: 0 5px;
        border-radius: 10px;
        background-color: $app-main-color;
        height: auto;
        margin: auto;
      }
    }
  }
}

.navigation-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  button {
    background-color: $app-main-color;
    color: white;
    font-weight: 500;
    margin-right: 15px;
  }

  button:last-of-type {
    margin-right: 0;
  }

  .month-cell {
    line-height: 36px;
    height: 36px;
    margin-right: 15px;
    border: 1px solid map_get($custom-grey, 350);
    border-radius: 2px;
    padding: 0 15px;
    user-select: none;
  }
}
