@import '../../../../styles/global-values';
@import '../../../../styles/palette';

$number-of-columns: 7;
$number-of-rows: 6;
.month-view-container {
  width: 100%;
  height: 100%;
  .calendar-header {
    box-sizing: border-box;
    border-left: 1px solid map_get($custom-grey, 350);
    border-top: 1px solid map_get($custom-grey, 350);
    border-bottom: 1px solid map_get($custom-grey, 350);
    width: 100%;
    display: flex;
    user-select: none;
    .day-element {
      box-sizing: border-box;
      height: 4*$spacing-unit;
      line-height: 4*$spacing-unit;
      border-right: 1px solid map_get($custom-grey, 350);
      text-align: center;
      width: calc(100% / #{$number-of-columns});
    }
  }

  .calendar-body {
    box-sizing: border-box;
    border-left: 1px solid map_get($custom-grey, 350);
    user-select: none;
    height: calc(100% - (4 * #{$spacing-unit}) - #{$dimension-deviation});
    width: 100%;
    .calendar-week {
      box-sizing: border-box;
      border-bottom: 1px solid map_get($custom-grey, 350);
      display: flex;
      height: calc(100% / #{$number-of-rows});
      .calendar-cell {
        box-sizing: border-box;
        border-right: 1px solid map_get($custom-grey, 350);
        width: calc(100% / #{$number-of-columns});
        &.disabled-cell {
          background-color: map_get($custom-grey, 150);
          color: map_get($custom-grey, 350);
          .bottom-container {
            .event {
              cursor: default;
              pointer-events: none;
              opacity: 0.8;
            }
            .view-more {
              cursor: default;
              pointer-events: none;
              opacity: 0.8;
            }
          }
        }
        &.today-cell {
          background-color: lighten($app-main-color, 5%);
          color: white;
          .bottom-container {
            .view-more {
              color: white;
            }
          }
        }
        .caption-container {
          width: 80%;
          height: 32px;
          display: flex;
          justify-content: space-between;
          .day-caption {
            flex: 1 1 auto;
            height: auto;
            margin: auto;
            padding: 0 $spacing-unit;
          }
        }
        .bottom-container {
          height: calc(100% - 32px);
          width: 100%;
          display: flex;
          flex-direction: column;
          .event {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            padding: 0 $spacing-unit;
            height: 12px;
            font-size: 9px;
            font-weight: 500;
            margin: 0 2px 2px 2px;
            width: calc(100% - 2 * #{$spacing-unit} - 4px);
            border-radius: 2px;
            color: white;
            cursor: pointer;
            user-select: none;
          }
          .view-more {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            padding: 0 $spacing-unit;
            height: 12px;
            font-size: 10px;
            font-style: italic;
            margin: auto 0;
            width: calc(100% - 2 * #{$spacing-unit});
            color: map_get($custom-grey, 850);
            user-select: none;
            cursor: pointer;
            &:hover {
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}
