@import '../../../styles/global-values';
@import '../../../styles/palette';

.manage-event-container {
  color: map_get($custom-grey, 850);
  width: 100%;
  .spacing-bottom {
    margin-bottom: 2*$spacing-unit;
  }
  h3 {
    margin: 0;
    min-width: 150px;
    color: map_get($custom-grey, 850)
  }
  .event-metadata {
    padding: $default-spacing;
    display: flex;
    justify-content: space-between;
    user-select: none;
    border-bottom: 1px solid map_get($custom-grey, 350);
    .metadata-section {
      display: flex;
      h3 {
        text-transform: capitalize;
        margin: 0 2*$spacing-unit 0 0;
        line-height: 38px;
      }
      .mat-icon-button {
        margin: auto $spacing-unit auto 0;
        border: 1px solid map_get($custom-grey, 850);
        color: map_get($custom-grey, 850);
        width: 4*$spacing-unit;
        height: 4*$spacing-unit;
        line-height: 4*$spacing-unit;
        .mat-icon {
          line-height: 20px;
        }
        &.primary-button {
          border: 1px solid $app-main-color;
          color: $app-main-color;
        }
      }
    }
  }
  .edit-event-container {
    padding: $default-spacing;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    .event-details {
      box-sizing: border-box;
      padding-right: $default-spacing;
      border-right: 1px solid map_get($custom-grey, 350);
      width: 60%;
      display: flex;
      flex-direction: column;
      .binary-selector {
        display: flex;
        justify-content: space-between;
      }
      .event-dates {
        display: flex;
        &.space-between {
          justify-content: space-between;
          .hour {
            width: 10%;
          }
        }
        .separator {
          font-size: 24px;
          color: map_get($custom-grey, 350);
          padding: 0 $spacing-unit;
          margin: auto 0;
        }
        .date {
          width: 30%;
        }
      }
      .repeat-information {
        display: flex;
        user-select: none;
        mat-icon {
          margin: auto 2*$spacing-unit auto 0;
          border: 1px solid map_get($custom-grey, 850);
          border-radius: 50%;
          min-width: 4*$spacing-unit;
          text-align: center;
          height: 4*$spacing-unit;
          line-height: 4*$spacing-unit;
        }
        .information-content {
          text-align: justify;
          font-size: 14px;
          margin: auto 0;
        }
      }
    }
    .recurrent-details {
      box-sizing: border-box;
      padding-left: $default-spacing;
      width: 40%;
      display: flex;
      flex-direction: column;
      .frequency-selector {
        display: flex;
        flex-direction: column;
        .frequency-count {
          display: flex;
          line-height: 4*$spacing-unit;
          line-break: anywhere;
          .frequency {
            width: 60px;
            margin: 0 $spacing-unit;
            /deep/.mat-form-field-infix {
              border-top: none;
            }
          }
        }
        .frequency-days {
          display: flex;
          flex-direction: column;
          .days {
            display: flex;
            flex-wrap: wrap;
            .day {
              width: 5*$spacing-unit;
              height: 5*$spacing-unit;
              line-height: 5*$spacing-unit;
              text-align: center;
              font-size: 14px;
              border: 1px solid map_get($custom-grey, 350);
              border-radius: 50%;
              user-select: none;
              cursor: pointer;
              margin: $spacing-unit $default-spacing $spacing-unit 0;
              &.selected {
                background-color: $app-main-color;
                color: white;
                border: 1px solid $app-main-color;
              }
            }
          }
        }
      }
    }
  }
}
