<div class="day-view-container">
  <div class="day-header">
    <div class="day-element dummy-cell"></div>
    <div class="day-element"
         [ngClass]="{'today-cell': isToday(day)}"
         (click)="openModal(shownEvents)">
      {{day.format('dddd') + ', ' + day.format('DD MMM')}}
    </div>
  </div>
  <div class="day-container">
    <div class="hour-labels-container">
      <div class="hour-label"
           *ngFor="let hour of hourLabels">
        {{hour}}
      </div>
    </div>
    <div class="hour-grid">
      <div class="grid-column border-left" #gridColumn>
        <div class="grid-element" *ngFor="let hour of hours"></div>
        <div class="event"
             *ngFor="let event of shownEvents"
             [ngClass]="[event.additionalInfo.colorClass]"
             [ngStyle]="{
                'height.px': event.additionalInfo.height,
                'width.px': event.additionalInfo.width,
                'top.px': event.additionalInfo.top,
                'left.px': event.additionalInfo.left
             }">{{event.additionalInfo.height > 8 ? event.name : ''}}</div>
      </div>
    </div>
  </div>
</div>
